<% layout('/layouts/boilerplate') %>

 <div class="d-flex flex-column">
  <h1 class="text-center">About Me</h1>

  <div class="content">
   <style>
    .content {
     display: flex;
     flex-direction: column;
     margin: 2rem 3rem 0 3rem;
     align-items: center;
    }

    @media (min-width:1330px) {
     .content {
      flex-direction: row;
     }
    }
   </style>
   <p class="mx-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, modi fugiat sed laboriosam
    mollitia,
    exercitationem deserunt provident error fugit itaque aut. Tempore beatae perspiciatis hic aperiam mollitia.
    Molestias, commodi unde? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nam omnis modi iure
    saepe, error quisquam in cupiditate laboriosam laudantium numquam voluptates provident cumque perspiciatis quaerat
    magni harum at praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis eius numquam, animi
    unde iure tempore quos adipisci sapiente ducimus cupiditate quod quo. Molestias voluptatem aspernatur, suscipit vel
    ipsum illum.
    Aliquam voluptas quo cumque mollitia ipsam, aliquid iusto reprehenderit, aperiam accusantium expedita nemo
    architecto
    numquam vitae quis animi nulla delectus voluptate minima sint velit. Odio praesentium repellat nemo voluptas omnis.
    Consequuntur, tempora numquam. Molestiae voluptas unde fugiat facere quos nam dolorum pariatur alias natus, eligendi
    nihil, laborum quisquam blanditiis corporis aliquid ex fuga autem obcaecati amet dolorem, consequatur sunt magni.
    Ipsam officia, quam quia ex facere sunt ullam earum sapiente facilis minus ab repellendus! Cupiditate earum labore
    eaque reprehenderit, tempora iste! Labore debitis consectetur dolorum quam placeat tempore voluptas exercitationem.
    Voluptatem, fuga maxime aperiam odio tempora ratione. Tenetur quod esse laboriosam quia iste nihil, ex veniam
    consequuntur nam exercitationem suscipit non in commodi quasi, culpa aut doloremque corporis fugit qui?</p>
   <img style="width: 400px; border: 2px black solid;"
    src="https://scontent.fhfa1-1.fna.fbcdn.net/v/t39.30808-6/438734218_10161681438114916_713735442200859012_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Rr6zN-_5y7AQ7kNvgGOQ5bu&_nc_ht=scontent.fhfa1-1.fna&oh=00_AYBUysjtUwVIVFdBtUr6UDDHTd5jubV4Jdwn7L57gUUPDg&oe=669ADC52"
    alt="">
  </div>
 </div>